{% extends 'base.html.twig' %}

{% block title %}Informations sur l'instrument{% endblock %}

{% block body %}

    <h1>Instrument</h1>

    <table class="table">
        <tbody>

            {% set photo = 'img/instrument/' ~ instrument.id ~'.jpg' %}
            <span class="zoom">
            <img src="{{ asset(photo) }}" title="{{ instrument.typeInstrument.libelle ~ ' ' ~ instrument.Marque.libelle}}" width ="300" />
            </span>

        <span style="padding:10px 15px; border:1px solid #ccc; border-radius:5px; display:flex; align-items:center; height:100%;">
            {% set actif = false %}

            {% for contrat in instrument.contratPrets %}
                {% if contrat.dateFin >= date() %}
                {% set actif = true %}
                {% endif %}
            {% endfor %}

            {% if actif %}
                <strong style="color:red;">Instrument prêté</strong>
            {% else %}
                <strong style="color:green;">Instrument disponible</strong>
            {% endif %}
            </span>


<br>
            
            <tr>
                <th>Numéro de série</th>
                <td>{{ instrument.numSerie }}</td>
            </tr>

            <tr>
                <th>Date d'achat</th>
                <td>{{ instrument.dateAchat ? instrument.dateAchat|date('d/m/Y') : '' }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTION') %}
            <tr>
                <th>Prix</th>
                <td>{{ instrument.prixAchat }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>Utilisation</th>
                <td>{{ instrument.utilisation }}</td>
            </tr>

            <tr>
                <th>Type</th>
                <td>{{ instrument.typeInstrument.libelle }}</td>
            </tr>
            
            <tr>
                <th>Classe</th>
                <td>{{ instrument.typeInstrument.classInstru.libelle }}</td>
            </tr>

            <tr>
                <th>Couleur</th>
                <td>{{ instrument.Couleur.Nom }}</td>
            </tr>
           
            <tr>
                <th>Marque</th>
                <td>{{ instrument.Marque.libelle }}</td>
            </tr>
            <tr>
                <th>Accessoires</th>
                <td>
                    {% if instrument.accessoires|length > 0 %}
                        <ul>
                            {% for accessoire in instrument.accessoires %}
                                <li>{{ accessoire.libelle }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Aucun accessoire
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTION') %}
    <table class="table">
        <tbody>
            <tr>
                <th>Date Intervention</th>
                <th>Description</th>
                <th>Professionnel</th>
                <th>Coût</th>
            </tr>
            {% if instrument.interventions is defined and instrument.interventions|length %}
                {% for intervention in instrument.interventions %}
                    <tr>
                        <td>{{ intervention.dateDebut|date('d/m/Y') }}</td>
                        <td>{{ intervention.descriptif }}</td>
                        <td>{{ intervention.professionnel.nom }}</td>
                        <td>{{ intervention.prix }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Aucune intervention</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endif %}

<button class="btn">
    <a href="{{ path('app_instrument_index') }}">Retour à la liste</a>
</button>
    <br>
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTION') %}
                    <a href="{{ path('app_instrument_edit', {'id': instrument.id}) }}">Modifier</a>
                    {{ include('instrument/_delete_form.html.twig') }}                    
                    {% else %}
                    {% endif %}
    
{% endblock %}
