{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
            <th>Id de l'instrument</th>
            <td><a href="{{ path('app_instrument_show', {'id': intervention.instrument.id}) }}">{{ intervention.instrument.numSerie }}</a></td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ intervention.dateDebut ? intervention.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ intervention.dateFin ? intervention.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ intervention.descriptif }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ intervention.prix }}</td>
            </tr>
            <tr>
                <th>Quotitent</th>
                <td>{{ intervention.quotitent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_intervention_index') }}">back to list</a>

    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
