{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Mon Compte</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            
                <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
                {% set roleLabels = {
                'ROLE_ADMIN': 'Administrateur',
                'ROLE_ADHERENT': 'Adherent',
                'ROLE_GESTION': 'Gestionnaire'
            } %}
                <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.roles %}
                        {{ roleLabels[role] ?? role }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    
    {% if is_granted('ROLE_ADHERENT') %}
<br>
    <table>
        <tr>
            <th style="text-align:center; vertical-align:middle;">Cours Inscrits</th>
        </tr>
    <tr>
            <td style="text-align:center; vertical-align:middle;">
            {% if elefe.cours is defined and elefe.cours|length %}
                {% for cour in elefe.cours %}
                <a href="{{ path('app_cours_show', {'id': cour.id}) }}">{{ cour.libelle }}</a>{% if not loop.last %} | {% endif %}
                {% endfor %}
            {% elseif elefe.inscriptions is defined and elefe.inscriptions|length %}
                {% for insc in elefe.inscriptions %}
                {% if insc.cours is defined %}
                    <a href="{{ path('app_cours_show', {'id': insc.cours.id}) }}">{{ insc.cours.libelle }}</a>
                {% elseif insc.cour is defined %}
                    <a href="{{ path('app_cours_show', {'id': insc.cour.id}) }}">{{ insc.cour.libelle }}</a>
                {% endif %}
                {% if not loop.last %} | {% endif %}
                {% endfor %}
            {% else %}
                Aucun cours
            {% endif %}
            </td>
        </tr>
    </table>
    {% else  %}
    {% endif %}

    
        <a href="{{ path('app_accueil') }}">Retour à la page d'accueil</a>
        <br>
       <a href="{{ path('app_logout') }}" class="btn btn-lg btn-danger">
        Se déconnecter
        </a>      
    
<br>
    
    
{% endblock %}
