{% extends 'base.html.twig' %}

{% block title %}Contrat Pret{% endblock %}

{% block body %}
    <h1>Contrat Pret</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Instrument</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Attestation Assurance</th>
                <th>Etat Detaille Debut</th>
                <th>Etat Detaille Retour</th>
                <th>Eleves</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat_pret in contrat_prets %}
            <tr>
                <td><a href="{{ path('app_contrat_pret_show', {'id': contrat_pret.instrument.id}) }}">{{ contrat_pret.instrument.numSerie }}</a></td>
                <td>{{ contrat_pret.dateDebut ? contrat_pret.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_pret.dateFin ? contrat_pret.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ contrat_pret.attestationAssurance }}</td>
                <td>{{ contrat_pret.etatDetailleDebut }}</td>
                <td>{{ contrat_pret.etatDetailleRetour }}</td>
                <td><a href="{{ path('app_contrat_pret_show', {'id': contrat_pret.eleves_id}) }}">{{ contrat_pret.eleves.nom }}</a></td>
                
                
                <td>
                    <a href="{{ path('app_contrat_pret_show', {'id': contrat_pret.id}) }}">show</a>
                    <a href="{{ path('app_contrat_pret_edit', {'id': contrat_pret.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_pret_new') }}">Create new</a>
{% endblock %}
