{% extends 'base.html.twig' %}

{% block title %}Eleves{% endblock %}

{% block body %}
    <h1>Eleves</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ elefe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ elefe.prenom }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN')or is_granted('ROLE_GESTION') %}
            <tr>
                <th>Date de naissance</th>
                <td>{{ elefe.dateNaiss ? elefe.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <br>
{% if is_granted('ROLE_ADMIN')or is_granted('ROLE_GESTION') %}

    <table class="table">
        <tbody>
            <tr>
                <th>Cours Inscrits</th>
                <th>Jour</th>
                <th>Heure Début</th>
                <th>Heure Fin</th>
                <th>Professeur</th>
            </tr>
            {% if elefe.cours is defined and elefe.cours|length %}
                {% for cour in elefe.cours %}
                    <tr>
                        <td><a href="{{ path('app_cours_show', {'id': cour.id}) }}">{{ cour.libelle }}</a></td>
                        <td><a href="{{ path('app_cours_show', {'id': cour.id}) }}">{{ cour.dateCours }}</a></td>
                        <td>{{ cour.heureDebut|date('H:i') }}</td>
                        <td>{{ cour.heureFin|date('H:i') }}</td>
                        <td><a href="{{ path('app_professeur_show', {'id': cour.professeur.id}) }}">{{ cour.professeur.nom }}</a></td>
                    </tr>
                {% endfor %}
            {% elseif elefe.inscriptions is defined and elefe.inscriptions|length %}
                {% for insc in elefe.inscriptions %}
                    <tr>
                        <td>
                            {% if insc.cours is defined %}
                                <a href="{{ path('app_cours_show', {'id': insc.cours.id}) }}">{{ insc.cours.libelle }}</a>
                            {% elseif insc.cour is defined %}
                                <a href="{{ path('app_cours_show', {'id': insc.cour.id}) }}">{{ insc.cour.libelle }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if insc.cours is defined %}
                                {{ insc.cours.dateCours }}
                            {% elseif insc.cour is defined %}
                                {{ insc.cour.dateCours }}
                            {% endif %}
                        </td>
                        <td>
                            {% if insc.cours is defined %}
                                {{ insc.cours.heureDebut|date('H:i') }}
                            {% elseif insc.cour is defined %}
                                {{ insc.cour.heureDebut|date('H:i') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if insc.cours is defined %}
                                {{ insc.cours.heureFin|date('H:i') }}
                            {% elseif insc.cour is defined %}
                                {{ insc.cour.heureFin|date('H:i') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if insc.cours is defined %}
                                <a href="{{ path('app_professeur_show', {'id': insc.cours.professeur.id}) }}">{{ insc.cours.professeur.nom }}</a>
                            {% elseif insc.cour is defined %}
                                <a href="{{ path('app_professeur_show', {'id': insc.cour.professeur.id}) }}">{{ insc.cour.professeur.nom }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Aucun cours</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endif %}
    <a href="{{ path('app_eleves_index') }}">Revenir à la Liste</a>
    {% if is_granted('ROLE_ADMIN')or is_granted('ROLE_GESTION') %}
                    <a href="{{ path('app_eleves_edit', {'id': elefe.id}) }}">Modifier</a>    
                    {{ include('eleves/_delete_form.html.twig') }}                
                    {% else %}
                    {% endif %}
    

    
{% endblock %}
