{% extends 'base.html.twig' %}

{% block title %}Eleves{% endblock %}

{% block body %}
    <h1>Eleves</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ elefe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ elefe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ elefe.prenom }}</td>
            </tr>
            <tr>
                <th>Date_naiss</th>
                <td>{{ elefe.dateNaiss ? elefe.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table>
        <tr>
            <th style="text-align:center; vertical-align:middle;">Cours Inscrits</th>
        </tr>
    <tr>
            <td style="text-align:center; vertical-align:middle;">
            {% if elefe.cours is defined and elefe.cours|length %}
                {% for cour in elefe.cours %}
                <a href="{{ path('app_cours_show', {'id': cour.id}) }}">{{ cour.libelle }}</a>{% if not loop.last %} | {% endif %}
                {% endfor %}
            {% elseif elefe.inscriptions is defined and elefe.inscriptions|length %}
                {% for insc in elefe.inscriptions %}
                {% if insc.cours is defined %}
                    <a href="{{ path('app_cours_show', {'id': insc.cours.id}) }}">{{ insc.cours.libelle }}</a>
                {% elseif insc.cour is defined %}
                    <a href="{{ path('app_cours_show', {'id': insc.cour.id}) }}">{{ insc.cour.libelle }}</a>
                {% endif %}
                {% if not loop.last %} | {% endif %}
                {% endfor %}
            {% else %}
                Aucun cours
            {% endif %}
            </td>
        </tr>
    </table>

    <a href="{{ path('app_eleves_index') }}">Revenir à la Liste</a>
    {% if is_granted('ROLE_ADMIN')or is_granted('ROLE_GESTION') %}
                    <a href="{{ path('app_eleves_edit', {'id': elefe.id}) }}">Modifier</a>    
                    {{ include('eleves/_delete_form.html.twig') }}                
                    {% else %}
                    {% endif %}
    

    
{% endblock %}
