{% extends 'base.html.twig' %}

{% block title %}Liste des interventions{% endblock %}

{% block body %}
<h1>Maintenance des instruments</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Numéro de série</th>
            <th>Prix de l'instrument</th>
            <th>Descriptif</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Prix d'intervention</th>
            <th>Professionnel</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ intervention.instrument.typeInstrument.libelle }}</td>
                <td>{{ intervention.instrument.numSerie }}</td>
                <td>{{ intervention.instrument.prix }}</td>
                <td>{{ intervention.descriptif }}</td>
                <td>{{ intervention.dateDebut|date('d/m/Y')}}</td>
                <td>{{ intervention.dateFin|date('d/m/Y') }}</td>
                <td>{{ intervention.prix }}</td>
                <td>{{ intervention.professionnel.nom }}</td>
                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">Consulter</a>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">Modifier</a>                   
                    {% else %}
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'interventions trouvées.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}