{% extends 'base.html.twig' %}

{% block title %}Liste des cours de musique{% endblock %}

{% block body %}
<h1>Liste des cours de musique</h1>

<div style="display: flex; justify-content: flex-end; margin-bottom: 15px;">
    <a href="{{ path('app_inscriptions_index') }}" class="btn btn-primary">
        S'inscrire à un cours
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Professeur du Cours</th>
            <th>Libelle</th>
            <th>Age Mini</th>
            <th>Age Maxi</th>
            <th>Date du Cours</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cour in cours %}
            <tr>
                <td>
                    {# lien vers la page du professeur #}
                    <a href="{{ path('app_professeur_show', {'id': cour.professeur.id}) }}">
                        {{ cour.professeur.nom }}
                    </a>
                </td>
                <td>{{ cour.libelle }}</td>
                <td>{{ cour.ageMini }}</td>
                <td>{{ cour.ageMaxi }}</td>
                <td>{{ cour.dateCours}}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'id': cour.id}) }}">Consulter</a> 
                    
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier</a>
                    {% else %}
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de données trouvées.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTION') %}
<a href="{{ path('app_cours_new') }}">Créer nouveau</a>
{% endif %}
{% endblock %}