{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Professeur du Cours</th>
                <td><a href="{{ path('app_professeur_show', {'id': cour.professeur.id}) }}">
                        {{ cour.professeur.nom }}
                    </a></td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ cour.libelle }}</td>
            </tr>
            <tr>
                <th>AgeMini</th>
                <td>{{ cour.ageMini }}</td>
            </tr>
            <tr>
                <th>AgeMaxi</th>
                <td>{{ cour.ageMaxi }}</td>
            </tr>
            <tr>
                <th>Date du Cours</th>
                <td>{{ cour.dateCours|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Heure de Début</th>
                <td>{{ cour.heureDebut|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Heure de Fin</th>
                <td>{{ cour.heureFin|date('H:i') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">Retour à la liste</a>

    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
