{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Professeur du Cours</th>
                <td><a href="{{ path('app_professeur_show', {'id': cour.professeur.id}) }}">
                        {{ cour.professeur.nom }}
                    </a></td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ cour.libelle }}</td>
            </tr>
            <tr>
                <th>AgeMini</th>
                <td>{{ cour.ageMini }}</td>
            </tr>
            <tr>
                <th>AgeMaxi</th>
                <td>{{ cour.ageMaxi }}</td>
            </tr>
            <tr>
                <th>Date du Cours</th>
                <td>{{ cour.dateCours }}</td>
            </tr>
            <tr>
                <th>Heure de Début</th>
                <td>{{ cour.heureDebut|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Heure de Fin</th>
                <td>{{ cour.heureFin|date('H:i') }}</td>
            </tr>
        </tbody>


        <table class="table">
        <br>
            <thead>
            <tr>
                <th style="text-align:center; vertical-align:middle;">Élèves du cours</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align:center; vertical-align:middle;">
                {# Remplacez 'app_eleve_show' par le nom de votre route si différent #}
                {% if cour.inscriptions|length %}
                    {% for inscription in cour.inscriptions %}
                    <a href="{{ path('app_eleves_show', {'id': inscription.eleves.id}) }}">
                        {{ inscription.eleves.nom }}
                    </a>{% if not loop.last %}|{% endif %}
                    {% endfor %}
                {% else %}
                    Aucun élève inscrit
                {% endif %}
                </td>
            </tr>
            </tbody>
        </table>









    <a href="{{ path('app_cours_index') }}">Retour à la liste</a>

    
    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier</a>
                    {{ include('cours/_delete_form.html.twig') }}
                    {% else %}
                    {% endif %}
    
{% endblock %}
