{% extends 'base.html.twig' %}

{% block title %}Détails de l'inscription{% endblock %}

{% block body %}
    <br>

    <h2>Informations du cours</h2>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Cours</th>
                <td>{{ inscription.cours.libelle }}</td>
            </tr>
            
            <tr>
                <th>Âge minimum</th>
                <td>{{ inscription.cours.ageMini }} ans</td>
            </tr>
            
            <tr>
                <th>Âge maximum</th>
                <td>{{ inscription.cours.ageMaxi }} ans</td>
            </tr>
            
            <tr>
                <th>Date du cours</th>
                <td>{{ inscription.cours.dateCours }}</td>
            </tr>
            
            <tr>
                <th>Horaire</th>
                <td>{{ inscription.cours.heureDebut ? inscription.cours.heureDebut|date('H:i') : '' }} - {{ inscription.cours.heureFin ? inscription.cours.heureFin|date('H:i') : '' }}</td>
            </tr>
            
            <tr>
                <th>Professeur</th>
                <td>
                    {% if inscription.cours.professeur %}
                            {{ inscription.cours.professeur.nom }}
                    {% else %}
                        Non assigné
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <a href="{{ path('app_inscriptions_index') }}">Retour à la liste</a>
    
    <br>
    
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTION') %}
        <a href="{{ path('app_inscriptions_edit', {'id': inscription.id}) }}">Modifier</a>
        {{ include('inscriptions/_delete_form.html.twig') }}
    {% else %}
    {% endif %}

{% endblock %}