{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}



    <h1>Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Roles</th>

                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                {% set roleLabels = {
                'ROLE_ADMIN': 'Administrateur',
                'ROLE_ADHERENT': 'Adherent',
                'ROLE_GESTION': 'Gestionnaire'
            } %}
                <td>
                    {% for role in user.roles %}
                        {{ roleLabels[role] ?? role }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                
        
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Consulter</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de données trouvées.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Crée un nouvel utilisateur</a>

{% endblock %}
