{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            {% set roleLabels = {
                'ROLE_ADMIN': 'Administrateur',
                'ROLE_ADHERENT': 'Adherent',
                'ROLE_GESTION': 'Gestionnaire'
            } %}

            <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.roles %}
                        {{ roleLabels[role] ?? role }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
        </tbody>
    </table>

    
    {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
        
          {% else  %}
          {% endif %}
    
        <a href="{{ path('app_user_index') }}">Retour à la liste</a>
             
    
<br>
    
    
{% endblock %}
